.div_cust {
	background-color: 	#b70101;
	color:				#fff;
}

.div_cust a {
	color:				#fff;
}

#menu-item {
	font-weight: 		bold;
}

#menu-item li:hover,#menu-item li a:hover {
	background-color: 	#3f3737;
	color:				#fff;
}

#menu-item li:focus,#menu-item li a:focus {
	background-color: 	#3f3737;
	color:				#fff;
}

#menu-item li.active{
	background-color: 	#3f3737;
	color:				#fff;
}

button.navbar-toggle {
	background-color: 	#3f3737;
	color: 				#fff;
}

.load-l, .load-t,.load-m {
	display: 			none;
}
